name: CI Pipeline
on:
  push:
    paths-ignore:
      - README.md
    branches:
      - '**'
    tags-ignore:
      - build-refs**
  pull_request:

jobs:
  lint:
    name: GolangCI
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: golangci/golangci-lint-action@e7fa5ac41e1cf5b7d48e45e42232ce7ada589601 # v9

  docker:
    needs: lint
    uses: chrisns/.github/.github/workflows/dockerbuild.yml@main
    with:
      platforms: linux/arm64,linux/amd64,linux/arm/v7
