name: CI Pipeline
on:
  push:
    paths-ignore:
      - README.md
    branches:
      - '**'
    tags-ignore:
      - build-refs**
  pull_request:

jobs:
  lint:
    name: GolangCI
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # v9

  docker:
    needs: lint
    uses: chrisns/.github/.github/workflows/dockerbuild.yml@main
    with:
      platforms: linux/arm64,linux/amd64,linux/arm/v7
